body {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h4, p {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
}

.bl-white {
    background: #fff;
    color: #000;
}

.bl-container {
    padding: 2% 8%;
    border: 1px solid Lightgrey;
    box-shadow: 2px 2px 2px #ddd;
}