.l-bg {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 8px #999;
  background: #f7f7f7;
}
.l-center {
  margin-top: 30px;
  text-align: center;
}
.l-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}
.o-p--normal {
  font-size: 16px;
  color: #7b7b7b;
}
.u-text-center {
  text-align: center;
}
.u-text-left {
  text-align: left;
}
.u-text-right {
  text-align: right;
}
.u-inline-block {
  display: inline-block;
}
.is-hidden {
  display: none;
}
.is-show {
  display: block;
}
body {
  font-family: Arial, "微软雅黑", "Microsoft YaHei", "Hiragino Sans GB", "冬青黑体简体中文 w3", STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: url('../images/retina_wood_@2X.png');
}
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
input {
  outline: none;
}
input:foucs {
  outline: none;
}
textarea {
  outline: none;
}
textarea:foucs {
  outline: none;
}
#toTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background: url('../images/to-top.png') no-repeat;
  background-position: center center;
}
.c-header {
  position: relative;
  height: 70px;
  text-align: center;
  line-height: 70px;
}
.c-header .c-header__left {
  display: inline-block;
  width: 80%;
}
.c-header .c-header__nav {
  display: inline-block;
  vertical-align: top;
  width: 10%;
}
.c-header .c-header__menu i {
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
}
.c-header .c-header__list {
  position: absolute;
  left: 0;
  width: 100%;
  background: #f7f7f7;
  z-index: 10;
  font-size: 16px;
}
.c-header .c-header__list li {
  display: block;
  line-height: 40px;
  height: 40px;
}
.c-header .c-header__list a {
  display: block;
  border-bottom: 1px solid #ccc;
}
.c-header .c-header__list a:hover {
  color: white;
  background: red;
}
@media only screen and (min-width: 640px) {
  .c-header .c-header__left {
    width: 22%;
  }
  .c-header .c-header__nav {
    width: 70%;
  }
  .c-header .c-header__menu {
    display: none;
  }
  .c-header .c-header__list {
    position: relative;
    display: block;
    max-width: 500px;
    font-size: 12px;
    background: none;
  }
  .c-header .c-header__list li {
    display: inline-block;
    width: 15%;
  }
  .c-header .c-header__list a {
    display: inline-block;
    padding: 0 6px;
    margin-top: 15px;
    height: 40px;
    line-height: 40px;
    border-bottom: none;
    color: brown;
    background: white;
    border-radius: 4px;
    box-shadow: 1px 1px 2px brown;
  }
  .c-header .c-header__list a:hover {
    color: white;
    background: red;
    box-shadow: 2px 2px 6px brown;
  }
}
@media only screen and (min-width: 768px) {
  .c-header .c-header__list {
    font-size: 14px;
  }
}
.c-banner {
  background: url('../images/banner.jpg') center no-repeat;
  background-size: cover;
  text-align: center;
}
.c-banner .c-banner__info {
  margin-top: 30px;
  text-align: left;
}
.c-banner .c-banner__info h1,
.c-banner .c-banner__info p {
  color: black;
}
.c-banner .c-banner__info h2 {
  font-weight: 600;
  color: red;
}
.c-banner .callbacks {
  overflow: hidden;
}
.c-banner .callbacks_tabs {
  position: relative;
  display: inline-block;
  bottom: 10px;
  width: 60%;
}
.c-banner .callbacks_tabs li {
  display: inline-block;
  margin: 0 15px;
}
.c-banner .callbacks_tabs li.callbacks_here a:after {
  background: #fff;
  opacity: .8;
}
.c-banner .callbacks_tabs a {
  display: inline-block;
  visibility: hidden;
}
.c-banner .callbacks_tabs a:after {
  content: '';
  display: block;
  visibility: visible;
  height: 14px;
  width: 14px;
  border: 1px solid white;
  background: transparent;
  border-radius: 50%;
}
@media only screen and (min-width: 640px) {
  .c-banner {
    height: 320px;
  }
  .c-banner .c-banner__info h1 {
    font-size: 30px;
  }
  .c-banner .c-banner__info p {
    margin-top: 20px;
    width: 80%;
    font-size: 20px;
  }
  .c-banner .c-banner__info h2 {
    margin-top: 20px;
  }
  .c-banner .c-banner__slider {
    height: 100%;
  }
  .c-banner .c-banner__slider .callbacks_tabs {
    bottom: -50px;
  }
}
.c-product .c-product__item {
  margin-top: 20px;
  padding-bottom: 10px;
}
.c-product .c-product__item img {
  display: inline-block;
}
.c-product .c-product__item h4 {
  padding: 10px 0;
}
.c-about .c-about__info h4 {
  padding: 16px 0 10px;
}
@media only screen and (min-width: 980px) {
  .c-about .c-about__info p {
    display: inline-block;
    margin-top: 40px;
    width: 80%;
  }
}
.c-about .c-about__detial .c-about__detial__item {
  margin: 10px 0;
  overflow: hidden;
}
.c-about .c-about__detial .c-about__detial__item .c-about__detial__sign {
  margin: 10px 0;
}
.c-about .c-about__detial .c-about__detial__item .c-about__detial__sign span {
  font-size: 40px;
  color: #444;
  padding: 20px;
  background: #ddd;
}
@media only screen and (min-width: 480px) {
  .c-about .c-about__detial .c-about__detial__sign {
    float: left;
    width: 22%;
  }
  .c-about .c-about__detial .c-about__detial__info {
    text-align: left;
    margin-top: 28px;
    float: right;
    width: 77%;
  }
}
.c-team .c-team__info {
  padding: 20px 10px;
}
.c-team .c-team__info h4 {
  margin-top: 10px;
}
.c-team .c-team__info p {
  margin-bottom: 10px;
}
.c-team .c-team__info img {
  display: inline-block;
}
.c-team .c-team__info .c-team__item {
  padding: 0 10px;
}
@media only screen and (min-width: 480px) {
  .c-team .c-team__item {
    float: left;
    width: 50%;
  }
}
@media only screen and (min-width: 640px) {
  .c-team .c-team__item {
    float: left;
    width: 25%;
  }
}
.c-comment {
  background: url("../images/p-banner.jpg");
  background-size: cover;
}
.c-comment .c-comment__title {
  margin: 20px 0;
}
.c-comment .c-comment__info {
  overflow: hidden;
  margin-bottom: 20px;
}
.c-comment .c-comment__people img {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}
.c-comment .c-comment__people .c-people__info {
  padding: 0 5%;
  margin-top: 30px;
}
.c-comment .c-comment__people .c-people__info h4 {
  color: white;
}
.c-comment .c-comment__people .c-people__info p {
  color: #b5b5b5;
}
@media only screen and (min-width: 480px) {
  .c-comment .c-comment__people {
    overflow: hidden;
  }
  .c-comment .c-comment__people .c-people__img {
    float: left;
    width: 26%;
  }
  .c-comment .c-comment__people .c-people__img img {
    width: 100%;
    max-width: 140px;
  }
  .c-comment .c-comment__people .c-people__info {
    float: right;
    width: 72%;
    text-align: left;
  }
}
.c-show .c-show__gallery {
  padding: 5px;
}
.c-show .c-show__gallery .c-show__grid {
  float: left;
  padding: 5px;
  width: 50%;
}
@media only screen and (min-width: 640px) {
  .c-show .c-show__gallery .c-show__grid {
    float: left;
    width: 33.3%;
  }
}
@media only screen and (min-width: 768px) {
  .c-show .c-show__gallery .c-show__grid {
    float: left;
    width: 25%;
  }
}
.c-service {
  background: url("../images/p-banner.jpg");
  background-size: cover;
}
.c-service .c-service__title {
  margin: 20px 0;
}
.c-service .c-service__info {
  margin: 20px 0;
  overflow: hidden;
}
@media only screen and (min-width: 640px) {
  .c-service .c-service__info {
    float: left;
    width: 50%;
    padding-left: 10px;
  }
}
.c-service .c-service__item {
  overflow: hidden;
  color: #ccc;
}
.c-service .c-service__item div {
  overflow: hidden;
  padding: 0;
}
.c-service .c-service__item i {
  margin-top: 10px;
  font-size: 40px;
}
.c-service .c-service__item img {
  max-height: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px #999;
}
.c-service .c-service__item p {
  margin-left: 20px;
  margin-top: 40px;
  font-size: 16px;
  text-align: left;
}
.c-contact {
  margin-bottom: 20px;
}
.c-contact .c-contact__info {
  text-align: left;
}
.c-contact .c-contact__item {
  padding-left: 15px;
  overflow: hidden;
}
.c-contact .c-contact__item h4 {
  margin: 20px 0 10px 0;
  font-size: 22px;
}
.c-contact .c-contact__item p {
  margin: 6px 0;
  font-size: 16px;
}
.c-contact .c-contact__form {
  margin-top: 20px;
  overflow: hidden;
}
.c-contact .c-contact__form label {
  color: brown;
}
.c-contact .c-contact__form em {
  color: red;
}
.c-contact .c-contact__form input,
.c-contact .c-contact__form textarea {
  margin: 0 0 10px 6px;
  border: 1px solid #ccc;
  vertical-align: middle;
}
.c-contact .c-contact__form textarea {
  padding: 8px;
  height: 120px;
  resize: none;
}
.c-contact .c-contact__form input[type="submit"] {
  margin: 10px 0;
  padding: 8px 20px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  background: #ed485c;
}
@media only screen and (min-width: 480px) {
  .c-contact .c-contact__item {
    float: left;
    width: 40%;
    text-align: center;
  }
  .c-contact .c-contact__form {
    float: left;
    width: 60%;
  }
}
.c-footer .c-footer__link {
  padding: 30px 0;
  background: #444;
}
.c-footer .c-footer__link h3 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #999;
}
.c-footer .c-footer__link a,
.c-footer .c-footer__link p {
  font-size: 16px;
  color: white;
}
.c-footer .c-footer__link ul {
  margin-bottom: 20px;
  overflow: hidden;
}
.c-footer .c-footer__link ul li {
  float: left;
  width: 50%;
  margin: 10px 0;
}
@media only screen and (min-width: 640px) {
  .c-footer .c-footer__link .c-footer__item {
    float: left;
    width: 50%;
  }
}
@media only screen and (min-width: 480px) {
  .c-footer .c-footer__link .c-footer__item {
    text-align: center;
  }
}
.c-footer .c-footer__copy-rights {
  background: #555;
}
.c-footer .c-footer__copy-rights p {
  padding: 10px 0;
  font-size: 16px;
  color: #ededed;
}
